In [1]:
import pandas as pd
from scipy import stats

# Q2.

In [2]:
lab = pd.read_csv('LabTAT.csv')
lab

     Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0          185.35        165.53        176.70        166.13
1          170.49        185.91        198.45        160.79
2          192.77        194.92        201.23        185.18
3          177.33        183.00        199.61        176.42
4          193.41        169.57        204.63        152.60
..            ...           ...           ...           ...
115        178.49        170.66        193.80        172.68
116        176.08        183.98        215.25        177.64
117        202.48        174.54        203.99        170.27
118        182.40        197.18        194.52        150.87
119        182.09        215.17        221.49        162.21

[120 rows x 4 columns]

## 4 sample t test (Anova test)
### H0: There is no significant difference between the avg TAT of reports
### H1: There is  significant difference with atleast one of avg TAT of reports

In [4]:
tstats,pValue=stats.f_oneway(lab.iloc[:,0],lab.iloc[:,1],lab.iloc[:,2],lab.iloc[:,3])

In [6]:
print('t-statistic:',tstats)
print('pvalue:',pValue)

t-statistic: 118.70421654401437
pvalue: 2.1156708949992414e-57

#### we do not reject the null hypothesis as pvalue <  0.05. There is no significant difference between the avg TAT of reports