In [1]:
import pandas as pd
from scipy import stats

# Q3.

In [2]:
buyer = pd.read_csv('BuyerRatio.csv')
buyer

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

## Chi square Test
### H0: P1 = P2 = P3 = P4
### H1: There is  significant difference with atleast one of buyer rations

In [3]:
buyer_table = buyer.iloc[:,1:]
buyer_table

   East  West  North  South
0    50   142    131     70
1   435  1523   1356    750

In [4]:
buyer_table.dtypes

East     int64
West     int64
North    int64
South    int64
dtype: object

In [5]:
buyer_table.values

array([[  50,  142,  131,   70],
       [ 435, 1523, 1356,  750]], dtype=int64)

In [6]:
chi2_score,pval,dof,expected_table = stats.chi2_contingency(buyer_table)

In [7]:
print('Chi-squared value : ',round(chi2_score,5))
print('P-val             : ',round(pval,5))
print('Degree of Freedom : ',dof)
print('Expected Table    :\n',expected_table)

Chi-squared value :  1.59595
P-val             :  0.66031
Degree of Freedom :  3
Expected Table    :
 [[  42.76531299  146.81287862  131.11756787   72.30424052]
 [ 442.23468701 1518.18712138 1355.88243213  747.69575948]]

In [8]:
if pval <= 0.05:
    print('1 = P2 = P3 = P4')
else:
    print('There is  significant difference with atleast one of buyer rations')

There is  significant difference with atleast one of buyer rations